.box-shadow-block {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.box-shadow-range {
  padding-left: 20px;
}

.box-shadow-range div {
  margin: 10px 0;
}

.box-shadow-range div:nth-child(6), .box-shadow-range div:nth-child(7), .box-shadow-range div:nth-child(8) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-shadow-range input {
  cursor: pointer;
}

.box-shadow-range input[type=range] {
  width: 100%;
  margin-top: 8px;
}

.box-shadow-range input[type=color] {
  width: 60px;
}