.navigation {
  background-color: #c2deff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation ul li {
  border: 1px solid;
  border-radius: 8px;
  margin: 0 20px;
  padding: 8px;
}

.navigation ul li a {
  text-decoration: none;
}